192.168.0.79 {
    header {
	    Strict-Transport-Security max-age=31536000;
    }

    encode zstd gzip

    handle /api/* {
	    reverse_proxy facility:8080
    }

    handle {
	    root * /srv
	    try_files {path} index.html
    	file_server
    }
}
