<form>
    <h2>Cadastro de organismo</h2>
    <div>
        <label for="especie">Especie</label>
        <input id="especie" name="especie" type="text" />
    </div>
    <div>
        <label for="origem">Origem</label>
        <input id="origem" name="origem" type="text" />
    </div>
    <div>
        <label for="familia">Família</label>
        <input id="familia" name="familia" type="text" />
    </div>
    <div>
        <label for="nome_cientifico">Nome Científico</label>
        <input id="nome_cientifico" name="nome_cientifico" type="text" />
    </div>
    <button>Salvar</button>
</form>