<h3 class="text-center">Cadastre um organismo</h3>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="submitted" style="width: 400px">
            <form [formGroup]="organismoForm" (submit)="save()">
                <div class="form-group">
                    <label for="especie">Espécie</label>
                    <input type="text" class="form-control" formControlName="especie" data-toggle="tooltip"
                        data-placement="right" title="Digite a espécie do organismo" name="especie" />
                </div>
                <div class="form-group">
                    <label for="origem">Origem</label>
                    <input type="text" class="form-control" formControlName="origem" data-toggle="tooltip"
                        data-placement="right" title="Digite a origem do organismo" name="origem" />
                </div>
                <div class="form-group">
                    <label for="familia">Família</label>
                    <input type="text" class="form-control" formControlName="familia" data-toggle="tooltip"
                        data-placement="right" title="Digite a família do organismo" name="familia" />
                </div>
                <div class="form-group">
                    <label for="nomeCientifico">Nome Científico</label>
                    <input type="text" class="form-control" formControlName="nomeCientifico" data-toggle="tooltip"
                        data-placement="right" title="Digite a nome científico do organismo" name="nomeCientifico" />
                </div>
        <br />
        <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>
<div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="!submitted">
            <h5 class="text-success">Organismo adicionado com sucesso</h5>
            <button (click)="addOrganismoForm()" class='btn btn-primary'>Cadastrar mais um organismo.</button>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>