<h3 class="text-center">Altere os valores do organismo</h3>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="updated" style="width: 400px">
            <form [formGroup]="organismoForm" (submit)="update()">
                <div class="form-group">
                    <label for="especie">Espécie</label>
                    <input id="especie" type="text" class="form-control" formControlName="especie" data-toggle="tooltip"
                        data-placement="right" title="Digite a espécie do organismo" name="especie"
                        [(ngModel)]="organismo!.especie" />
                </div>
                <div class="form-group">
                    <label for="familia">Família</label>
                    <input id="familia" type="text" class="form-control" formControlName="familia" data-toggle="tooltip"
                        data-placement="right" title="Digite a família do organismo" name="familia"
                        [(ngModel)]="organismo!.familia" />
                </div>
                <div class="form-group">
                    <label for="origem">Origem</label>
                    <input id="origem" type="text" class="form-control" formControlName="origem" data-toggle="tooltip"
                        data-placement="right" title="Digite a origem do organismo" name="origem"
                        [(ngModel)]="organismo!.origem" />
                </div>
                <div class="form-group">
                    <label for="nomeCientifico">Nome Científico</label>
                    <input id="nomeCientifico" type="text" class="form-control" formControlName="nomeCientifico" data-toggle="tooltip"
                        data-placement="right" title="Digite o nome científico do organismo" name="nomeCientifico"
                        [(ngModel)]="organismo!.nomeCientifico" />
                </div>
                <br />
                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="!updated">
            <h5 class="text-success">Organismo alterado com sucesso</h5>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>