<h3 class="text-center">Altere os valores do organismo</h3>
        <div [hidden]="updated" class="w-2/3">
            <form [formGroup]="organismoForm" (submit)="update()">
                <div class="flex flex-col">
                    <label for="especie">Espécie</label>
                    <input id="especie" type="text" class="border" formControlName="especie" data-toggle="tooltip"
                        data-placement="right" title="Digite a espécie do organismo" name="especie"
                        [(ngModel)]="organismo!.especie" />
                </div>
                <div class="flex flex-col">
                    <label for="familia">Família</label>
                    <input id="familia" type="text" class="border" formControlName="familia" data-toggle="tooltip"
                        data-placement="right" title="Digite a família do organismo" name="familia"
                        [(ngModel)]="organismo!.familia" />
                </div>
                <div class="flex flex-col">
                    <label for="origem">Origem</label>
                    <input id="origem" type="text" class="border" formControlName="origem" data-toggle="tooltip"
                        data-placement="right" title="Digite a origem do organismo" name="origem"
                        [(ngModel)]="organismo!.origem" />
                </div>
                <div class="flex flex-col">
                    <label for="nomeCientifico">Nome Científico</label>
                    <input id="nomeCientifico" type="text" class="border" formControlName="nomeCientifico" data-toggle="tooltip"
                        data-placement="right" title="Digite o nome científico do organismo" name="nomeCientifico"
                        [(ngModel)]="organismo!.nomeCientifico" />
                </div>
                <div class="flex justify-end gap-4 my-6">
                    <button type="submit">Salvar</button>
                    <button routerLink="../..">Voltar</button>
                </div>
            </form>
        </div>
<div [hidden]="!updated">
    <h5 class="text-success">Organismo alterado com sucesso</h5>
</div>