<div
  class="flex justify-center flex-grow h-full w-lvw bg-gradient-to-r from-[#649bac] to-[#0e3d55]"
>
  <div class="bg-white w-full md:my-10 md:w-5/6 md:rounded-3xl p-4">
    <div class="flex flex-col items-center justify-center m-4">
      <div class="relative overflow-x-auto w-full outline">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-800 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-white dark:bg-gray-700 dark:text-gray-400 outline"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Espécie</th>
              <th scope="col" class="px-6 py-3">Origem</th>
              <th scope="col" class="px-6 py-3">Família</th>
              <th scope="col" class="px-6 py-3">Nome Científico</th>
              <th scope="col" class="px-6 py-3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="even:bg-neutral-200 odd:bg-neutral-100 border-b dark:bg-gray-800 dark:border-gray-700"
              *ngFor="let organismo of resultados"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ organismo.especie }}
              </th>
              <td class="px-6 py-4">{{ organismo.origem }}</td>
              <td class="px-6 py-4">{{ organismo.familia }}</td>
              <td class="px-6 py-4">{{ organismo.nomeCientifico }}</td>
              <td class="px-6 py-4 flex gap-2">
                <button (click)="detalheOrganismo(organismo.id)">Visualizar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
